<html>

<head>

	<title>Data Board - {{name}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="css/game.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/searchbar.js"></script>

</head>

<body>

	<div class="header-bar">
		<h2 class="header">DATABOARD</h2>

		<form class="header searchbar" onclick="return false">
			<input id="search-bar" type="text" placeholder="Search for games...">
			<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
		</form>

		<div class="tabs">
			<a class="home-tab" href="/home">Home</a>
			<div class="midtab">
				<a class="dropdown-toggle" data-toggle="dropdown">Categories</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/new_releases">New Releases</a></li>
					<li><a href="/trending">Trending</a></li>
					<li><a href="/party">Party</a></li>
					<li><a href="/family">Family</a></li>
					<li><a href="/card">Card</a></li>
					<li><a class="kids" href="/kids">Kids</a></li>
				</ul>
			</div>
			<a href="/contact">Contact Us</a>
		</div>
	</div>

	<input class="back-btn" type="image" onclick="history.go(-1);"
		src="https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/back_arrow-512.png" width="30px"
		height="30px">
	<h1 class="gametitle"> {{name}} </h1>

	<button class="buy-game"
		onclick="window.open('{{buyURL}}','_blank');">Buy</button>
	<p class="game-rating">Rating: {{rating}}</p>
	<img class="gamepic" src="{{imageURL}}"></img>

	<p class="gamedescription">{{game-description}}</p>

	<a class="gamemanual" target="_blank" href="{{manualPDF}}">Link To Manual</a>

	<iframe class="gamevid" width="240" height="160" src="{{tutorialVid}}">
	</iframe>

</body>

</html>